.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container fills the height of the viewport */
  text-align: left;
}

.messages-container {
  flex: 1; /* Allow messages container to expand to fill remaining space */
  overflow-y: auto; /* Enable vertical scrolling if messages overflow */
}

.message {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.message.user {
  /* No specific background color */
}

.message.bot {
  /* No specific background color */
}

.input-container {
  display: flex;
  /* align-items: center; */
  padding: 10px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 2px solid #007bff; /* Border color for the custom textbox */
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px; /* Custom font size */
  background-color: transparent; /* Set background color to transparent */
  outline: none; /* Remove default input focus outline */
  color: white; /* Set text color */
}

.input-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  
}

.divider {
  border: none;
  border-top: 1px solid #333; /* Dark grey color for the divider line */
  margin: 5px 0; /* Adjust margin as needed */
  padding: 0;
}